@charset "ISO-8859-1";


/* Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #804000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #532900;
}
.active {
  background-color: #ffb66c;
}


/* General Stuff */
body{
	margin-left:0;
	font-size: larger;
	background-color: #ffffa8;
	margin-top: 50px;
}


/* Page 1 Specifics */

#restOfPage{
	display: none;
}

